# Research Grant Council Database

## ER Diagram
![Entity Relationship Diagram](resources/erd.png)

## SQL Schema

- Researcher = {<span style="text-decoration:underline">researcherID</span>, firstName, lastName, email, institution}
- Collaborator = {<span style="text-decoration:underline">collaboratorID</span><span><sup>FK-Researcher</sup>, <span style="text-decoration:underline">proposalID</span><span><sup>FK-Proposal</sup>}
- Proposal = {<span style="text-decoration:underline">proposalID</span>, requestedAmount, awardedAmount, status, principleInvestigatorID<sup>FK-Researcher</sup>, competitionID<sup>FK-Competition</sup>}
- Review = {<span style="text-decoration:underline">reviewID</span>, status, review, deadline, proposalID<sup>FK-Proposal</sup>}
- Reviewer = {<span style="text-decoration:underline">reviewerID</span>, firstName, lastName}
- Assignment = {<span style="text-decoration:underline">reviewerID</span><span><sup>FK-Reviewer</sup>, <span style="text-decoration:underline">ReviewID</span><span><sup>FK-Review</sup>}
- Competition = {<span style="text-decoration:underline">competitionID</span>, area, title, deadline, description, status, meetingID<sup>FK-Meeting</sup>}
- Meeting = {<span style="text-decoration:underline">MeetingID</span>, date}

## Schema Creation

### Execute the next two cells

In [1]:
%reload_ext sql

In [2]:
%sql sqlite:///Research-Grant-Council-Database.db

'Connected: @Research-Grant-Council-Database.db'

### Queries

#### Researcher

In [3]:
%%sql

CREATE TABLE IF NOT EXISTS Researcher (
    researcherID INTEGER PRIMARY KEY,
    firstName VARCHAR(20) NOT NULL,
    lastName VARCHAR(20) NOT NULL,
    email VARCHAR(100) NOT NULL UNIQUE,
    institution VARCHAR(100) NOT NULL
);

 * sqlite:///Research-Grant-Council-Database.db
Done.

[]

#### Collaborator

In [4]:
%%sql

CREATE TABLE IF NOT EXISTS Collaborator (
    collaboratorID INTEGER,
    proposalID INTEGER,
    FOREIGN KEY (collaboratorID) REFERENCES Researcher(researcherID),
    FOREIGN KEY (proposalID) REFERENCES Proposal(proposalID),
    PRIMARY KEY (collaboratorID, proposalID)
);

 * sqlite:///Research-Grant-Council-Database.db
Done.

[]

#### Proposal

In [5]:
%%sql

CREATE TABLE IF NOT EXISTS Proposal (
    proposalID INTEGER PRIMARY KEY,
    requestedAmount REAL NOT NULL,
    awardedAmount REAL,
    status VARCHAR(20) NOT NULL CHECK(status IN ('submitted','awarded','not awarded')),
    principleInvestigatorID INTEGER,
    competitionID INTEGER,
    FOREIGN KEY (principleInvestigatorID) REFERENCES Researcher(researcherID),
    FOREIGN KEY (competitionID) REFERENCES Competition(competitionID)
);

 * sqlite:///Research-Grant-Council-Database.db
Done.

[]

#### Review

In [6]:
%%sql

CREATE TABLE IF NOT EXISTS Review (
    reviewID INTEGER PRIMARY KEY,
    status VARCHAR(20) NOT NULL CHECK(status IN ('submitted','not submitted')),
    review TEXT,
    deadline DATE NOT NULL,
    proposalID INTEGER,
    FOREIGN KEY (proposalID) REFERENCES Proposal(proposalID)
);

 * sqlite:///Research-Grant-Council-Database.db
Done.

[]

#### Reviewer

In [7]:
%%sql

CREATE TABLE IF NOT EXISTS Reviewer (
    reviewerID INTEGER PRIMARY KEY,
    firstName VARCHAR(20) NOT NULL,
    lastName VARCHAR(20) NOT NULL
);

 * sqlite:///Research-Grant-Council-Database.db
Done.

[]

#### Assignment

In [9]:
%%sql

CREATE TABLE IF NOT EXISTS Assignment (
    reviewerID INTEGER,
    reviewID INTEGER,
    FOREIGN KEY (reviewerID) REFERENCES Reviewer(reviewerID),
    FOREIGN KEY (reviewID) REFERENCES Review(reviewID),
    PRIMARY KEY (reviewerID, reviewID)
);

 * sqlite:///Research-Grant-Council-Database.db
Done.

[]

#### Competition

In [10]:
%%sql

CREATE TABLE IF NOT EXISTS Competition (
    competitionID INTEGER PRIMARY KEY,
    area VARCHAR(50) NOT NULL,
    title VARCHAR(100) NOT NULL,
    deadline DATE NOT NULL,
    description TEXT NOT NULL,
    status VARCHAR(20) NOT NULL CHECK(status IN ('open', 'closed')),
    meetingID INTEGER,
    FOREIGN KEY (meetingID) REFERENCES Meeting(meetingID)
);

 * sqlite:///Research-Grant-Council-Database.db
Done.

[]

#### Meeting

In [11]:
%%sql

CREATE TABLE IF NOT EXISTS Meeting (
    meetingID INTEGER PRIMARY KEY,
    date DATE NOT NULL
);

 * sqlite:///Research-Grant-Council-Database.db
Done.

[]

### Populate Researcher

In [43]:
%%sql
INSERT INTO Researcher VALUES (361492, "Stacy", "Berman", "jovan.hetting@hotmail.com", "University of California, Los Angeles"), 
(512565, "Dennis", "Vall", "mabel1987@yahoo.ca", "University Texas Austin"),
(580915, "Mary", "Jones", "greta19962017@gmail.com", "University of Oklahoma"),
(641662, "Patsy", "Chisholm", "PatsyLChisholm@teleworm.us", "University of Washington"),
(360929, "Caroline", "Campunzano", "andreanne1993@hotmail.com", "University of Oregon"),
(215246, "Everett", "Victor", "arjun2003@hotmail.com", "University of Pennsylvania"),
(907845, "Deborah"," Butea", "chase.schul@gmail.com", "Princeton University"),
(202583, "Sid", "Jewell", "wilhelm1990@hotmail.com", "Harvard University"),
(330225, "Marueen", "Miles", "karelle.muell@yahoo.com", "Standford Universty"),
(978476, "Walter", "Nightingale", "clark1996@yahoo.com", "Massachusetts Institute of Technology"),
(354694, "Randolph", "Gibson", "sonia_nikola@hotmail.com", "Yale University"),
(678990, "Josh", "Peters", "joshpeters13@hotmail.com", "McGill University"),
(443175, "Karen", "Rogers", "karenrogers7653@gmail.com", "University of British Columbia"),
(439214, "Peggy", "Letson", "peggyletson19@gmail.com", "University of Toronto"),
(312309, "Lanson", "Wong", "lansonwong43@gmail.com", "University of Alberta"),
(543839, "Wilson", "Yung", "wilsonyung4930@hotmail.com", "University of Waterloo"),
(124456, "Anson", "Chow", "ansonchow3941@gmail.com", "University of Saskatchewan"),
(232474, "Cayden", "Leong", "caydenleong74@yahoo.com", "University of Ottawa"),
(312356, "Miriam", "Kim", "miriamkim2341@gmail.com", "University of Guelph");

 * sqlite:///Research-Grant-Council-Database.db

IntegrityError: (sqlite3.IntegrityError) UNIQUE constraint failed: Researcher.researcherID
[SQL: INSERT INTO Researcher VALUES (361492, "Stacy", "Berman", "jovan.hetting@hotmail.com", "University of California, Los Angeles"),
(512565, "Dennis", "Vall", "mabel1987@yahoo.ca", "University Texas Austin"),
(580915, "Mary", "Jones", "greta19962017@gmail.com", "University of Oklahoma"),
(641662, "Patsy", "Chisholm", "PatsyLChisholm@teleworm.us", "University of Washington"),
(360929, "Caroline", "Campunzano", "andreanne1993@hotmail.com", "University of Oregon"),
(215246, "Everett", "Victor", "arjun2003@hotmail.com", "University of Pennsylvania"),
(907845, "Deborah"," Butea", "chase.schul@gmail.com", "Princeton University"),
(202583, "Sid", "Jewell", "wilhelm1990@hotmail.com", "Harvard University"),
(330225, "Marueen", "Miles", "karelle.muell@yahoo.com", "Standford Universty"),
(978476, "Walter", "Nightingale", "clark1996@yahoo.com", "Massachusetts Institute of Technology"),
(354694, "Randolph", "Gibson", "sonia_nikola@hotmail.com", "Yale University"),
(678990, "Josh", "Peters", "joshpeters13@hotmail.com", "McGill University"),
(443175, "Karen", "Rogers", "karenrogers7653@gmail.com", "University of British Columbia"),
(439214, "Peggy", "Letson", "peggyletson19@gmail.com", "University of Toronto"),
(312309, "Lanson", "Wong", "lansonwong43@gmail.com", "University of Alberta"),
(543839, "Wilson", "Yung", "wilsonyung4930@hotmail.com", "University of Waterloo"),
(124456, "Anson", "Chow", "ansonchow3941@gmail.com", "University of Saskatchewan"),
(232474, "Cayden", "Leong", "caydenleong74@yahoo.com", "University of Ottawa"),
(312356, "Miriam", "Kim", "miriamkim2341@gmail.com", "University of Guelph");]
(Background on this error at: https://sqlalche.me/e/14/gkpj)

### Populate Proposal

In [45]:
%%sql
INSERT INTO Proposal VALUES (4123,5000,5000,'awarded',361492,312),
(6781,15000,15000,'awarded',512565,126),
(2314,2500,1000,'awarded',580915,512),
(4921,25000,25000,'awarded',641662,678),
(3109,1500,2500,'awarded',360929,889),
(9021,10000,5000,'awarded',215246,100),
(8912,10000,10000,'awarded',907845,192),
(1235,7000,0,'submitted',202583,567),
(6753,5000,0,'not awarded',330225,214),
(5567,30000,0,'not awarded',978476,987);

 * sqlite:///Research-Grant-Council-Database.db
(sqlite3.OperationalError) table Proposal has 4 columns but 6 values were supplied
[SQL: INSERT INTO Proposal VALUES (4123,5000,5000,'awarded',361492,312),
(6781,15000,15000,'awarded',512565,126),
(2314,2500,1000,'awarded',580915,512),
(4921,25000,25000,'awarded',641662,678),
(3109,1500,2500,'awarded',360929,889),
(9021,10000,5000,'awarded',215246,100),
(8912,10000,10000,'awarded',907845,192),
(1235,7000,0,'submitted',202583,567),
(6753,5000,0,'not awarded',330225,214),
(5567,30000,0,'not awarded',978476,987);]
(Background on this error at: https://sqlalche.me/e/14/e3q8)

### Populate

In [46]:
%%sql
SELECT * FROM Proposal

 * sqlite:///Research-Grant-Council-Database.db
Done.

[]