# Research Grant Council Database

## ER Diagram
![ER Diagram](resources/erd.png)

## SQL Schema

- Researcher = {<span style="text-decoration:underline">researcherID</span>, firstName, lastName, email, institution}
- Conflict = {<span style="text-decoration:underline">researcherID</span><sup>FK-Researcher</sup>, <span style="text-decoration:underline">conflicterID</span><sup>FK-Researcher</sup>}
- Collaborator = {<span style="text-decoration:underline">collaboratorID</span><span><sup>FK-Researcher</sup>, <span style="text-decoration:underline">proposalID</span><span><sup>FK-Proposal</sup>}
- Proposal = {<span style="text-decoration:underline">proposalID</span>, requestedAmount, awardedAmount, status, submissionDate, principleInvestigatorID<sup>FK-Researcher</sup>, competitionID<sup>FK-Competition</sup>}
- Review = {<span style="text-decoration:underline">reviewID</span>, status, deadline, proposalID<sup>FK-Proposal</sup>}
- Reviewer = {<span style="text-decoration:underline">reviewerID</span>, firstName, lastName, researcherID<sup>FK-Researcher</sup>}
- Assignment = {<span style="text-decoration:underline">reviewerID</span><span><sup>FK-Reviewer</sup>, <span style="text-decoration:underline">ReviewID</span><span><sup>FK-Review</sup>}
- Competition = {<span style="text-decoration:underline">competitionID</span>, area, title, startDate, deadline, description, status, meetingID<sup>FK-Meeting</sup>}
- Meeting = {<span style="text-decoration:underline">MeetingID</span>, date}

## Schema Creation

### Execute the next two cells

In [1]:
%reload_ext sql

In [2]:
%sql sqlite:///Research-Grant-Council-Database.db

### Queries

#### Researcher

In [3]:
%%sql

CREATE TABLE IF NOT EXISTS Researcher (
    researcherID INTEGER PRIMARY KEY AUTOINCREMENT,
    firstName VARCHAR(20) NOT NULL,
    lastName VARCHAR(20) NOT NULL,
    email VARCHAR(100) NOT NULL UNIQUE,
    institution VARCHAR(100) NOT NULL
);

 * sqlite:///Research-Grant-Council-Database.db
Done.

[]

#### Conflict

In [4]:
%%sql

CREATE TABLE IF NOT EXISTS Conflict (
    researcherID INTEGER,
    conflicterID INTEGER,
    FOREIGN KEY (researcherID) REFERENCES Researcher(researcherID),
    FOREIGN KEY (conflicterID) REFERENCES Researcher(researcherID),
    PRIMARY KEY (researcherID, conflicterID)
);

 * sqlite:///Research-Grant-Council-Database.db
Done.

[]

#### Collaborator

In [5]:
%%sql

CREATE TABLE IF NOT EXISTS Collaborator (
    collaboratorID INTEGER,
    proposalID INTEGER,
    FOREIGN KEY (collaboratorID) REFERENCES Researcher(researcherID),
    FOREIGN KEY (proposalID) REFERENCES Proposal(proposalID),
    PRIMARY KEY (collaboratorID, proposalID)
);

 * sqlite:///Research-Grant-Council-Database.db
Done.

[]

#### Proposal

In [6]:
%%sql

CREATE TABLE IF NOT EXISTS Proposal (
    proposalID INTEGER PRIMARY KEY AUTOINCREMENT,
    requestedAmount REAL NOT NULL,
    awardedAmount REAL,
    status VARCHAR(20) NOT NULL CHECK(status IN ('submitted','awarded','not awarded')),
    submissionDate DATE,
    principleInvestigatorID INTEGER NOT NULL,
    competitionID INTEGER,
    FOREIGN KEY (principleInvestigatorID) REFERENCES Researcher(researcherID),
    FOREIGN KEY (competitionID) REFERENCES Competition(competitionID)
);

 * sqlite:///Research-Grant-Council-Database.db
Done.

[]

#### Review

In [7]:
%%sql

CREATE TABLE IF NOT EXISTS Review (
    reviewID INTEGER PRIMARY KEY AUTOINCREMENT,
    status VARCHAR(20) NOT NULL CHECK(status IN ('submitted','not submitted')),
    deadline DATE NOT NULL,
    proposalID INTEGER,
    FOREIGN KEY (proposalID) REFERENCES Proposal(proposalID)
);

 * sqlite:///Research-Grant-Council-Database.db
Done.

[]

#### Reviewer

In [8]:
%%sql

CREATE TABLE IF NOT EXISTS Reviewer (
    reviewerID INTEGER PRIMARY KEY AUTOINCREMENT,
    firstName VARCHAR(20) NOT NULL,
    lastName VARCHAR(20) NOT NULL,
    researcherID INTEGER,
    FOREIGN KEY (researcherID) REFERENCES Researcher(researcherID)
);

 * sqlite:///Research-Grant-Council-Database.db
Done.

[]

#### Assignment

In [9]:
%%sql

CREATE TABLE IF NOT EXISTS Assignment (
    reviewerID INTEGER,
    reviewID INTEGER,
    FOREIGN KEY (reviewerID) REFERENCES Reviewer(reviewerID),
    FOREIGN KEY (reviewID) REFERENCES Review(reviewID),
    PRIMARY KEY (reviewerID, reviewID)
);

 * sqlite:///Research-Grant-Council-Database.db
Done.

[]

#### Competition

In [10]:
%%sql

CREATE TABLE IF NOT EXISTS Competition (
    competitionID INTEGER PRIMARY KEY AUTOINCREMENT,
    area VARCHAR(50) NOT NULL,
    title VARCHAR(100) NOT NULL,
    startDATE DATE NOT NULL,
    deadline DATE NOT NULL,
    description TEXT NOT NULL,
    status VARCHAR(20) NOT NULL CHECK(status IN ('open', 'closed')),
    meetingID INTEGER,
    FOREIGN KEY (meetingID) REFERENCES Meeting(meetingID)
);

 * sqlite:///Research-Grant-Council-Database.db
Done.

[]

#### Meeting

In [11]:
%%sql

CREATE TABLE IF NOT EXISTS Meeting (
    meetingID INTEGER PRIMARY KEY AUTOINCREMENT,
    date DATE NOT NULL
);

 * sqlite:///Research-Grant-Council-Database.db
Done.

[]

## Populate Tables

### Queries

#### Researcher

In [12]:
%%sql

INSERT INTO Researcher (firstName, lastName, email, institution) VALUES 
("Stacy", "Berman", "jovan.hetting@hotmail.com", "University of California, Los Angeles"), 
("Dennis", "Vall", "mabel1987@yahoo.ca", "University Texas Austin"),
("Mary", "Jones", "greta19962017@gmail.com", "University of Oklahoma"),
("Patsy", "Chisholm", "PatsyLChisholm@teleworm.us", "University of Washington"),
("Caroline", "Campunzano", "andreanne1993@hotmail.com", "University of Oregon"),
("Everett", "Victor", "arjun2003@hotmail.com", "University of Pennsylvania"),
("Deborah"," Butea", "chase.schul@gmail.com", "Princeton University"),
("Sid", "Jewell", "wilhelm1990@hotmail.com", "Harvard University"),
("Marueen", "Miles", "karelle.muell@yahoo.com", "Standford Universty"),
("Walter", "Nightingale", "clark1996@yahoo.com", "Massachusetts Institute of Technology"),
("Randolph", "Gibson", "sonia_nikola@hotmail.com", "Yale University"),
("Josh", "Peters", "joshpeters13@hotmail.com", "McGill University"),
("Karen", "Rogers", "karenrogers7653@gmail.com", "University of British Columbia"),
("Peggy", "Letson", "peggyletson19@gmail.com", "University of Toronto"),
("Lanson", "Wong", "lansonwong43@gmail.com", "University of Alberta"),
("Wilson", "Yung", "wilsonyung4930@hotmail.com", "University of Waterloo"),
("Anson", "Chow", "ansonchow3941@gmail.com", "University of Saskatchewan"),
("Cayden", "Leong", "caydenleong74@yahoo.com", "University of Ottawa"),
("Miriam", "Kim", "miriamkim2341@gmail.com", "University of Guelph"),
("Jeff", "Lu", "jefflu123@gmail.com", "University of California San Diego"),
("Sunny","Ho","sunnyho29@yahoo.com", "California State University"),
("Lyndia","Hero","lyndiahero064@hotmail.com", "Simon Fraser University")

 * sqlite:///Research-Grant-Council-Database.db
22 rows affected.

[]

#### Conflict

In [21]:
%%sql

INSERT INTO Conflict (researcherID, conflicterID) VALUES
(1, 2),
(3, 4),
(5, 6),
(7, 8),
(9, 10),
(11, 12),
(13, 14),
(15, 16),
(17, 18),
(19, 20);

 * sqlite:///Research-Grant-Council-Database.db
10 rows affected.

[]

#### Collaborator

In [13]:
%%sql

INSERT INTO Collaborator (collaboratorID, proposalID) VALUES
(1, 1),
(2, 1),
(3, 2),
(4, 2),
(5, 3),
(6, 3),
(7, 1),
(8, 2),
(9, 3),
(10, 1),
(11, 2),
(12, 3),
(13, 1),
(14, 2),
(15, 3);

 * sqlite:///Research-Grant-Council-Database.db
15 rows affected.

[]

#### Proposal

In [14]:
%%sql

INSERT INTO Proposal (requestedAmount, awardedAmount, status, submissionDate, principleInvestigatorID, competitionID) VALUES 
(5000, 5000, 'awarded', '2024-03-16', 1, 1),
(15000, 10000, 'awarded', '2024-03-16', 2, 1),
(2500, 1000, 'awarded', '2024-04-23', 3, 2),
(25000, 25000, 'awarded', '2024-04-23', 4, 2),
(1500, 2500, 'awarded', '2024-05-26', 5, 3),
(10000, 5000, 'awarded', '2024-05-26', 6, 3),
(10000, 10000, 'awarded', '2024-06-28', 7, 4),
(5000, 0, 'not awarded', '2024-06-28', 17, 4),
(17000, 0, 'not awarded', '2024-06-28', 18, 4),
(7000, 0, 'submitted', '2024-08-01', 8, 5),
(10000, 10000, 'awarded', '2024-08-01', 19, 5),
(17500, 0, 'not awarded', '2024-08-01', 20, 5),
(5000, 0, 'not awarded', '2024-09-01', 9, 6),
(15000, 10000, 'awarded', '2024-09-01', 21, 6),
(30000, 0, 'not awarded', '2024-10-08', 10, 7),
(10000, 0, 'submitted', '2024-10-08', 11, 7),
(15000, 5000, 'awarded', '2024-11-05', 12, 8),
(5000, 0, 'not awarded', '2024-11-05', 13, 8),
(2500, 2500, 'awarded', '2024-12-03', 14, 9),
(20000, 10000, 'awarded', '2024-12-03', 15, 9),
(18500, 15000, 'awarded', '2025-01-08', 16, 10),
(12500, 0, 'not awarded', '2025-01-08', 22, 10);

 * sqlite:///Research-Grant-Council-Database.db
22 rows affected.

[]

#### Review

In [15]:
%%sql

INSERT INTO Review (status, deadline, proposalID) VALUES
('not submitted', '2023-10-30', 1),
('submitted', '2023-05-23', 2),
('submitted', '2023-07-01', 3),
('submitted', '2023-01-31', 4),
('not submitted', '2023-04-15', 5),
('not submitted', '2023-08-18', 6),
('submitted', '2023-02-17', 7),
('not submitted', '2023-01-08', 8),
('submitted', '2023-03-12', 9),
('not submitted', '2023-03-19', 10);

 * sqlite:///Research-Grant-Council-Database.db
10 rows affected.

[]

#### Reviewer

In [16]:
%%sql

INSERT INTO Reviewer (firstName, lastName, researcherID) VALUES
("Hayden", "Shen", NULL),
("Jonathan", "Yang", NULL),
("Alan", "Poy", NULL),
("John", "Wang", NULL),
("Hassan", "Mohammad", NULL),
("Kathy", "Means", NULL),
("Tammy", "Smith", NULL),
("Timothy", "Grube", NULL),
("Beverly", "Clark", NULL),
("Peter", "Snider", NULL),
("Bonnie", "Watkins", NULL),
("Charles", "McNeal", NULL),
("Jacky", "Tran", NULL),
("Jones", "Flemming", NULL),
("Frank", "Smith", NULL),
("Harold", "Jenkins", NULL),
("Belbert", "Springer", NULL),
("Alisa", "Hunter", NULL),
("Dianne", "Johnson", NULL),
("Damon", "Green", NULL),
("Anson", "Chow", 17),
("Josh", "Peters", 12);

 * sqlite:///Research-Grant-Council-Database.db
22 rows affected.

[]

#### Assignment

In [17]:
%%sql

INSERT INTO Assignment (reviewerID, reviewID) VALUES
(1, 1), (2, 1), (3, 1), (4, 2), (5, 2), (6, 3), (7, 4), (8, 4), (9, 5), (10, 5), (11, 5), (12, 6), (13, 6), (14, 6), (15, 7), (16, 8), (17, 8),
(18, 8), (19, 9), (20, 10), (21, 10), (22, 10);

 * sqlite:///Research-Grant-Council-Database.db
22 rows affected.

[]

#### Competition

In [18]:
%%sql

INSERT INTO Competition (area, title, startDate, deadline, description, status, meetingID) VALUES
('Computer Science', 'AI Frontiers', '2024-03-01', '2024-04-30', 'Exploring the frontiers of artificial intelligence and machine learning.', 'open', 1),
('Renewable Energy', 'Solar Power Innovations', '2024-04-01', '2024-05-15', 'Innovative solutions in solar energy technology.', 'open', 2),
('Biotechnology', 'Genetic Engineering Breakthroughs', '2024-05-01', '2024-06-20', 'Breakthroughs in genetic engineering and its applications.', 'closed', 3),
('Quantum Computing', 'Quantum Algorithms', '2024-06-01', '2024-07-25', 'Developing new algorithms for quantum computing.', 'open', 4),
('Cybersecurity', 'Next-Gen Cybersecurity Solutions', '2024-07-01', '2024-08-30', 'Advancements in protecting against cyber threats.', 'open', 5),
('Space Exploration', 'Mars Habitat Design', '2024-08-01', '2024-09-30', 'Designing sustainable habitats for Mars.', 'open', 6),
('Automotive Innovation', 'Electric Vehicle Enhancements', '2024-09-01', '2024-10-15', 'Enhancements and innovations in electric vehicles.', 'closed', 7),
('Environmental Science', 'Ocean Cleanup Projects', '2024-10-01', '2024-11-10', 'Innovative projects focused on cleaning the oceans.', 'open', 8),
('Medical Research', 'Cancer Treatment Innovations', '2024-11-01', '2024-12-05', 'Novel approaches to cancer treatment.', 'open', 9),
('Artificial Intelligence', 'AI Ethics', '2024-12-01', '2025-01-15', 'Addressing ethical concerns in AI development.', 'closed', 10);

 * sqlite:///Research-Grant-Council-Database.db
10 rows affected.

[]

#### Meeting

In [19]:
%%sql

INSERT INTO Meeting (date) VALUES
("2024-01-01"),
("2024-01-21"),
("2024-01-13"),
("2024-02-18"),
("2024-01-03"),
("2024-03-03"),
("2024-01-24"),
("2023-12-30"),
("2023-11-02"),
("2023-10-07");

 * sqlite:///Research-Grant-Council-Database.db
10 rows affected.

[]

In [25]:
%%sql

SELECT R.reviewerID, COUNT(RV.proposalID) AS NumberOfReviews
FROM Review RV
JOIN Proposal P ON RV.proposalID = P.proposalID
JOIN Researcher R ON P.principleInvestigatorID = R.researcherID
LEFT JOIN Collaborator C ON P.proposalID = C.proposalID
LEFT JOIN Conflict CF ON R.researcherID = CF.researcherID AND C.researcherID = CF.conflicterID
WHERE RV.status = 'not submitted'
  AND (CF.conflicterID IS NULL OR R.reviewerID IS NULL)
GROUP BY R.reviewerID
HAVING COUNT(RV.proposalID) < 3;

 * sqlite:///Research-Grant-Council-Database.db
(sqlite3.OperationalError) no such column: R.reviewerID
[SQL: SELECT R.reviewerID, COUNT(RV.proposalID) AS NumberOfReviews
FROM Review RV
JOIN Proposal P ON RV.proposalID = P.proposalID
JOIN Researcher R ON P.principleInvestigatorID = R.researcherID
LEFT JOIN Collaborator C ON P.proposalID = C.proposalID
LEFT JOIN Conflict CF ON R.researcherID = CF.researcherID AND C.researcherID = CF.conflicterID
WHERE RV.status = 'not submitted'
  AND (CF.conflicterID IS NULL OR R.reviewerID IS NULL)
GROUP BY R.reviewerID
HAVING COUNT(RV.proposalID) < 3;]
(Background on this error at: https://sqlalche.me/e/20/e3q8)